Assignment 
              { 
              font-size:80%; 
              margin:0.5em; 
              font-family: Verdana; 
              display:block; 
              } 
Assignment_section { 
              display:block;  
              border: 1px solid silver; 
              margin:0.5em;  
              padding:0.5em;  
              background-color:whitesmoke; 
              } 
title { 
      display:block; 
      font-weight:bolder; 
      text-align:center; 
      font-size:40px; 
      background-color: mintcream; 
      color: yellowgreen; 
  
      } 
      lastname,firstname,middlename,birthday,placeofbirth,address,secondaryschool,primaryschool,email,idphoto { 
                                 display:block; 
                                 text-align:center;
                                 font-size: 15px; 
                                 } 
info { 
     color:green;  
     text-decoration: underline  ; 
     font-weight:bolder; 
     font-size:30px;
     display:block; 
     text-align:center;  
     } 
 lastname{ 
       color:green
       } 
firstname { 
       color:brown 
       } 
middlename { 
       color:blue
       } 
birthday {  
       color:orange 
       } 
placeofbirth {
       color:maroon
}
address{
       color:magenta
}
secondaryschool{
       color:saddlebrown
}
primaryschool{
       color:teal
}
email{
       color:red
}
idphoto{
       color:black
}